{% assign certifications = site.data.data.certifications %} {% if certifications
%} {% if site.data.data.sidebar.certifications %}
<div class="education-container container-block">
  <h2 class="container-block-title">{{ certifications.title }}</h2>

  {% for certificate in certifications.list %}
  <div class="item">
    <h4 class="degree">{{ certificate.name }}</h4>
    <h5 class="degree">{{ certificate.organization }} </h5>
              <h5 class="meta">        <div class="cert-url">
          <a
            href="//{{ certificate.credentialurl }}"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >{{ certificate.credentialid }}</a
          ></h5>
                <div class="time">{{ certificate.time }}</div>
  </div>
  <!--//item-->
  {% endfor %}
</div>
<!--//education-container-->
{% else %}
<section class="section certifications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% for certifications in certifications.list %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">{{ certifications.name }}</h3>
        <div class="time">
          {{ certifications.start }} {% if certifications.end %} - {{
          certifications.end }} {% endif %}
        </div>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">
          {% if certifications.credentialid %}License: {{ certifications.credentialid }} {% endif %}
        </div>
        {% if certifications.credentialurl %}
        <div class="cert-url">
          <a
            href="//{{ certifications.credentialurl }}"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >{{ certifications.organization }}</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <!--//meta-->

    <div class="details">{{ certifications.details | markdownify }}</div>
  </div>
  <!--//item-->
  {% endfor %}
</section>
<!--//section-->
{% endif %} {% endif %}
